<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta name="description" content="A game community in a box.">
    <%= stylesheet_link_tag :application %>
    <link rel="stylesheet" href="//brick.global.ssl.fastly.net/Open+Sans:400,400i,600,600i,700:f">
    <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">

    <%= render 'modals' -%>

    <div class="nav-wrap">
        <nav class="nav">
            <div class="nav-item nav-item-logo">
                <a href="/" class="nav-logo" data-icon="n"><div>Nex</div></a>
            </div>
            <ul class="nav-list">
                <li class="nav-item"><a class="nav-link" href="#">News</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Mods</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Forums</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Media</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Buy</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
            </ul>
            <div class="nav-user-container">
                <!-- elastic scroll; if they scroll past X pixels, snap the modal up and away -->
                <% if user_signed_in? %>
                    <a href="/profile/edit" class="nav-login-button" data-icon="e"></a>
                <% else %>
                    <div class="nav-login-button" id="account" data-icon="e"></div>
                <% end %>
            </div>
            <div class="nav-item-search">
                <form action="/search" method="get" class="nav-search-form">
                    <input name="search" id="search" class="nav-search" placeholder="Search for anything" autocomplete="off">
                    <i class="nav-search-submit" data-icon="x"></i>
                </form>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row section">
            <div id="stripe-loader" style="height:0"></div>
            <% if user_signed_in? %>
                Logged in as <strong><%= current_user.username %></strong>.
                <%= link_to 'Edit profile', '/profile/edit' %> |
                <%= link_to 'Log out', '/logout', method: :delete  %>
            <% else %>
                <%= link_to 'Register', '/register', :class => 'navbar-link'  %> |
                <%= link_to 'Log in', '/login', :class => 'navbar-link'  %>
            <% end %>
        </div>
        <%= render 'flashes' -%>
        <%= yield %>

        <footer>
            <nav class="footer-nav">
                <a href="#">Home</a>
                <a href="#">News</a>
                <a href="#">Mods</a>
                <a href="#">Forum</a>
                <a href="#">Media</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </nav>

            <div class="copyright">Copyright &copy; Nex 2014</div>
        </footer>
    </div>

    <%= render 'javascript' %>
</body>
</html>
